/* https://codingfantasy.com/games/flexboxadventure

Learn how to use and understand how all the popular flex box properties work 
(justify-content, align-items, align-content, flex-direction, flex-flow, order, align-self, flex-direction, flex)

justify-content defines how the browser distributes space between and around items horizontally (also called main-axis). 
It has many values but only 6 are widely used:
*/

/* center align items at the center of the container. */
.wrapper {
    display: flex;
    justify-content: center;
}

/* flex-start (default) align items at the start of the container. */
.wrapper {
    display: flex;
    justify-content: flex-start;
}

/* flex-end align items at the end of the container. */
.wrapper {
    display: flex;
    justify-content: flex-end;
}

/* space-between align the first and last item will be flush with the ends of the container and all of the space shared equally between the items. */
.wrapper {
    display: flex;
    justify-content: space-between;
}

/* space-around align items evenly. Items have a half-size space on either end. */
.wrapper {
    display: flex;
    justify-content: space-around;
}

/* space-evenly align items evenly. Items have equal space around them. */

.wrapper {
    display: flex;
    justify-content: space-evenly;
}

/* 
align-items defines how the browser distributes space between and around items vertically. Think of it as justify-content but for the vertical axis. 
Property values: 
*/

/* center align items at the center of the container. */
.wrapper {
    display: flex;
    align-items: center;
}

/* flex-start align items at the start of the container. */
.wrapper {
    display: flex;
    align-items: flex-start;
}

/* flex-end align items at the end of the container. */
.wrapper {
    display: flex;
    align-items: flex-end;
}

/* baseline items are aligned such as their baselines align. */
.wrapper {
    display: flex;
    align-items: baseline;
}

/* stretch items are stretched to fill the container. */
.wrapper {
    display: flex;
    align-items: stretch;
}


/* The flex-direction property specifies the direction of flexible items.Property values: */

/* row (default) flexible items are displayed horizontally, as a row. */
.wrapper {
    display: flex;
    flex-direction: row;
}

/* row-reverse same as row, but in reverse order. */
.wrapper {
    display: flex;
    flex-direction: row-reverse;
}

/* column items are displayed vertically,as a column. */
.wrapper {
    display: flex;
    flex-direction: column;
}

/* column-reverse items are displayed vertically, as a column. */
.wrapper {
    display: flex;
    flex-direction: column-reverse;
}